main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.formcontainer {
  width: calc(100% / 6);
  border: 1px solid slategray;
  border-radius: 1rem;
  padding: 1rem 3rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding-block: 0.2rem;
  width: 98%;
}

.warning {
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: darkred;
}

.button-panel {
  display: flex;
  justify-content: right;
}

button {
  width: fit-content;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  color: white;
  background-color: royalblue;
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: lightsteelblue;
  cursor: default;
}
